/*Font-Face */
/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;*/
@font-face {
    font-family: 'knileregular';
    src: url('../font/knile-regular-webfont.eot');
    src: url('../font/knile-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/knile-regular-webfont.woff2') format('woff2'),
         url('../font/knile-regular-webfont.woff') format('woff'),
         url('../font/knile-regular-webfont.ttf') format('truetype'),
         url('../font/knile-regular-webfont.svg#knileregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pease_sans';
    src: url('../font/PeaceSans.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bnl';
    src: url('../font/bnl.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bnl_light';
    src: url('../font/bnl_light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bnl_bold';
    src: url('../font/bnl_bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nl';
    src: url('../font/nl.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nb';
    src: url('../font/nb.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nm';
    src: url('../font/nm.otf');
    font-weight: normal;
    font-style: normal;
}


  body{
        font-family: 'knileregular';
        background: #FAFAFA;
              }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #040404;
  background-color: #ffffff;
}

a {
  color: #2e416a;
  text-decoration: none;
}

/* -------------------------------- 

General Style

-------------------------------- */
.cd-intro {
  position: relative;
  height: 100vh;
  width: 100%;
  /* vertically align its content */
  display: table;
  background: #2e416a;
  overflow: hidden;
}

.cd-intro-content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5%;
  background: #2e416a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro-content h1 {
  font-size: 2.4rem;
  color: #ffffff;
}
.cd-intro-content p {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 1em 0;
  color: #6d7a97;
}
.cd-intro-content .action-wrapper {
  display: inline-block;
}
.cd-intro-content .action-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
.cd-intro-content .action-wrapper > * {
  float: left;
}

.cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  font-size: 1.3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #202e4a;
  border-radius: .25em;
  margin-right: 1.5em;
}
.cd-btn:nth-of-type(2) {
  margin-right: 0;
}
.cd-btn.main-action {
  background-color: #fb5e58;
}
@media only screen and (min-width: 480px) {
  .cd-btn {
    padding: 1.2em 1.6em;
  }
}
@media only screen and (min-width: 768px) {
  .cd-btn {
    padding: 1.4em 1.8em;
  }
}

.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-intro-content h1, .no-cssanimations
.cd-intro-content h1 span, .no-cssanimations
.cd-intro-content p, .no-cssanimations
.cd-intro-content .cd-btn {
  opacity: 1;
}

/*project section*/
/* -------------------------------- 

Reveal

-------------------------------- */
.reveal.cd-intro-content h1 {
  position: relative;
  /* overwrite default style */
  opacity: 1;
  font-weight: 700;
  /* <h1> text is not visible - it is used only as a container for the ::after element */
  color: transparent;
  overflow: hidden;
}
.reveal.cd-intro-content h1::after {
  /* this is the animated text */
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: black;
  opacity: 0;
  -webkit-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .reveal.cd-intro-content h1::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content h1 {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.reveal.cd-intro-content p {
  position: relative;
  margin: 0;
  padding: 1em;
  background-color: #202e4a;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}
@media only screen and (min-width: 1170px) {
  .reveal.cd-intro-content p {
    padding: 1em 1.6em;
  }
}

.reveal.cd-intro-content h1::after,
.reveal.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.reveal.cd-intro-content .action-wrapper {
  position: relative;
  overflow: hidden;
}
.reveal.cd-intro-content .action-wrapper::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #202e4a;
  -webkit-animation: cd-loading 0.4s 0.3s backwards;
  -moz-animation: cd-loading 0.4s 0.3s backwards;
  animation: cd-loading 0.4s 0.3s backwards;
}
.reveal.cd-intro-content .action-wrapper .cd-btn {
  display: block;
  opacity: 1;
  max-width: 200px;
  margin: 1em auto 0;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content .action-wrapper .cd-btn {
    display: inline-block;
    margin: 0 0 0 1em;
  }
}

@-webkit-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -moz-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes cd-loading {
  0% {
    -moz-transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
  }
}
@keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* -------------------------------- 

Mask

-------------------------------- */
.mask.cd-intro-content h1 {
  position: relative;
  padding-bottom: 10px;
  /* overwrite default style */
  opacity: 1;
  /*font-weight: 700;*/
  /* <h1> text is not visible - it is used only as a container for the ::after element */
  color: transparent;
  overflow: hidden;
  font-family: knileregular;
  font-weight: 300;
}
.mask.cd-intro-content h1::after {
  /* this is the animated text */
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  -webkit-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.mask.cd-intro-content h1 span {
  position: relative;
  display: inline-block;
  opacity: 1;
}
.mask.cd-intro-content h1 span::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: calc(100% + 8px);
  left: -1em;
  height: 2px;
  width: calc(100% + 2em);
  background-color: #ffffff;
  -webkit-animation: cd-loading-mask 1s 0.3s both;
  -moz-animation: cd-loading-mask 1s 0.3s both;
  animation: cd-loading-mask 1s 0.3s both;
}
@media only screen and (min-width: 768px) {
  .mask.cd-intro-content h1 {
    padding-bottom: 20px;
  }
  .mask.cd-intro-content h1 span::before {
    top: calc(100% + 18px);
  }
}

.mask.cd-intro-content p {
  position: relative;
  font-family: knileregular;
  margin: 0;
  padding: 10px 0 0;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}
@media only screen and (min-width: 768px) {
  .mask.cd-intro-content p {
    padding-top: 20px;
  }
}

.mask.cd-intro-content h1::after,
.mask.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.mask.cd-intro-content .action-wrapper {
  overflow: hidden;
}
.mask.cd-intro-content .action-wrapper .cd-btn {
  opacity: 1;
  margin: 0 0 0 1.5em;
}
.mask.cd-intro-content .action-wrapper .cd-btn:first-of-type {
  margin-left: 0;
}

@-webkit-keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes cd-loading-mask {
  0%, 100% {
    -moz-transform: scaleX(0);
  }
  40%, 60% {
    -moz-transform: scaleX(1);
  }
}
@keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}
/* -------------------------------- 

Menu trigger

-------------------------------- */
.cd-nav-trigger {
  position: fixed;
  z-index: 4;
  top: 24px;
  right: 5%;
  display: none;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-nav-trigger .cd-icon,
.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {
  /* menu icon created in CSS */
  position: absolute;
  background-color: #ffffff;
  border-radius: 2px;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch .cd-nav-trigger:hover {
  background-color: black;
}
.cd-nav-trigger .cd-icon {
  /* middle line of the menu icon */
  display: inline-block;
  width: 18px;
  height: 2px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  -moz-transition: -moz-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}
.cd-nav-trigger .cd-icon::before, .cd-nav-trigger .cd-icon::after {
  /* upper and lower lines of the menu icon */
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-nav-trigger .cd-icon::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger .cd-icon::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.cd-nav-trigger.project-open .cd-icon {
  /* user selects a projects - transform the icon into a 'X' */
  background-color: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.project-open .cd-icon::before, .cd-nav-trigger.project-open .cd-icon::after {
  background-color: white;
}
.cd-nav-trigger.project-open .cd-icon::before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.cd-nav-trigger.project-open .cd-icon::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.cd-nav-trigger.nav-visible .cd-icon {
  /* user opens the navigation - transform the icon into an arrow */
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.cd-nav-trigger.nav-visible .cd-icon::after {
  -webkit-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  -moz-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  -ms-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  -o-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
}
.cd-nav-trigger.nav-visible .cd-icon::before {
  -webkit-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  -moz-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  -ms-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  -o-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
}
@media only screen and (min-width: 1024px) {
  .cd-nav-trigger.nav-visible .cd-icon {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
  }
  .cd-nav-trigger.nav-visible .cd-icon::after {
    -webkit-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -moz-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -ms-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -o-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
  }
  .cd-nav-trigger.nav-visible .cd-icon::before {
    -webkit-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -moz-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -ms-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -o-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
  }
}

/* -------------------------------- 

Projects

-------------------------------- */
.cd-projects-container {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  height: 120%;
}
.cd-projects-container.project-open {
  /* smooth scroll on iOS devices */
  -webkit-overflow-scrolling: touch;

}
a.cd-nav-trigger.cd-text-replace.project-open {
    display: block;
}
.cd-projects-previews {
  position: relative;
  z-index: 2;
  /* height: 115vh; */
  width: 100vw;
}
.cd-projects-previews::after {
  clear: both;
  content: "";
  display: table;
}
.project-open .cd-projects-previews {
  pointer-events: none;
}
.cd-projects-previews li {
  /* z-index: 9999; */
  height: 31%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}
.cd-projects-previews li.selected {
  opacity: 0;
  /* move selected project preview out of the viewport with no transition */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}
.cd-projects-previews li.slide-out {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cd-projects-previews a {
  display: block;
  height: 100vh;
  width: 100%;
  /* fixes a bug on projects caption width */
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.cd-projects-previews li:nth-of-type(2) a {
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  transform: translateY(-25%);
}
.cd-projects-previews li:nth-of-type(3) a {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-projects-previews li:nth-of-type(4) a {
  -webkit-transform: translateY(-75%);
  -moz-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  -o-transform: translateY(-75%);
  transform: translateY(-75%);
}
.cd-projects-previews .bg-loaded a {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li {
    display: inline-block;
    /* height: 100%; */
    width: 25%;
    float: left;
  }
  .cd-projects-previews li.selected {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .cd-projects-previews li.slide-out {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .cd-projects-previews a {
    /* width equal to window width */
    width: 400%;
  }
  .cd-projects-previews li:nth-of-type(2) a {
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  .cd-projects-previews li:nth-of-type(3) a {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-projects-previews li:nth-of-type(4) a {
    -webkit-transform: translateX(-75%);
    -moz-transform: translateX(-75%);
    -ms-transform: translateX(-75%);
    -o-transform: translateX(-75%);
    transform: translateX(-75%);
  }
}

.cd-projects {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.cd-projects > li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.cd-projects > li.selected {
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  transition: opacity 0s;
}
.cd-projects .preview-image {
  display: block;
  height: 100vh;
}

.cd-projects-previews a,
.cd-projects .preview-image {
  /* set a background image for each project */
  background: #5b927d url(../img/img-1.jpg) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(2) a,
.cd-projects > li:nth-of-type(2) .preview-image {
  background: #a8ae7e url(../img/img-2.jpg) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(3) a,
.cd-projects > li:nth-of-type(3) .preview-image {
  background: #e7d5a4 url(../img/img-3.jpg) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(4) a,
.cd-projects > li:nth-of-type(4) .preview-image {
  background: #835531 url(../img/img-4.jpg) no-repeat center center;
  background-size: cover;
}

.cd-project-title {
  position: absolute;
  width: 100%;
      top: calc(50% - 50px);
  left: 0;
  color: #ffffff;
  -webkit-transform: translateY(-37.5vh);
  -moz-transform: translateY(-37.5vh);
  -ms-transform: translateY(-37.5vh);
  -o-transform: translateY(-37.5vh);
  transform: translateY(-37.5vh);
  -webkit-transition: -webkit-transform 0.6s 0.2s;
  -moz-transition: -moz-transform 0.6s 0.2s;
  transition: transform 0.6s 0.2s;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-project-title::after {
  /* line below project title */
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 40px;
  height: 1px;
  background: #ffffff;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.no-touch .cd-projects-previews a:hover .cd-project-title::after {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
}
.cd-projects .cd-project-title::after {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.cd-project-title h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: white;
  font-family: knileregular;
}
.cd-project-title p {
  font-size: 1.4rem;
  font-family: "Fira Sans";
  /*font-style: italic;*/
  line-height: 1.2;
  padding: .4em 2em;
  opacity: .8;
      color: white;
}
@media only screen and (min-width: 1024px) {
  .cd-project-title {
    width: 25%;
    top: 50vh;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.cd-projects-previews li:nth-of-type(2) .cd-project-title,
.cd-projects > li:nth-of-type(2) .cd-project-title {
  -webkit-transform: translateY(-12.5vh);
  -moz-transform: translateY(-12.5vh);
  -ms-transform: translateY(-12.5vh);
  -o-transform: translateY(-12.5vh);
  transform: translateY(-12.5vh);
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li:nth-of-type(2) .cd-project-title,
  .cd-projects > li:nth-of-type(2) .cd-project-title {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.cd-projects-previews li:nth-of-type(3) .cd-project-title,
.cd-projects > li:nth-of-type(3) .cd-project-title {
  -webkit-transform: translateY(12.5vh);
  -moz-transform: translateY(12.5vh);
  -ms-transform: translateY(12.5vh);
  -o-transform: translateY(12.5vh);
  transform: translateY(12.5vh);
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li:nth-of-type(3) .cd-project-title,
  .cd-projects > li:nth-of-type(3) .cd-project-title {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
}

.cd-projects-previews li:nth-of-type(4) a .cd-project-title,
.cd-projects > li:nth-of-type(4) .cd-project-title {
  -webkit-transform: translateY(37.5vh);
  -moz-transform: translateY(37.5vh);
  -ms-transform: translateY(37.5vh);
  -o-transform: translateY(37.5vh);
  transform: translateY(37.5vh);
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li:nth-of-type(4) a .cd-project-title,
  .cd-projects > li:nth-of-type(4) .cd-project-title {
    -webkit-transform: translateX(300%);
    -moz-transform: translateX(300%);
    -ms-transform: translateX(300%);
    -o-transform: translateX(300%);
    transform: translateX(300%);
  }
}

li.selected .cd-project-title,
.cd-projects > li:nth-of-type(2).selected .cd-project-title,
.cd-projects > li:nth-of-type(3).selected .cd-project-title,
.cd-projects > li:nth-of-type(4).selected .cd-project-title {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1024px) {
  li.selected .cd-project-title,
  .cd-projects > li:nth-of-type(2).selected .cd-project-title,
  .cd-projects > li:nth-of-type(3).selected .cd-project-title,
  .cd-projects > li:nth-of-type(4).selected .cd-project-title {
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
    transform: translateX(150%);
  }
}

.cd-projects li.selected .cd-project-title::after {
  -webkit-transition: -webkit-transform 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s;
  transition: transform 0.3s 0s;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
}

.touch .cd-projects li.selected .cd-project-title::after {
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}

.cd-project-info {
  display: none;
  padding: 4em 0;
  background-color: #ffffff;
  color: #7d7c7b;
}
.content-visible .cd-project-info {
  display: block;
}
.cd-project-info p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.5em;
    color: #444343;
}

.cd-projects-container .scroll {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 50%;
  width: 44px;
  height: 44px;
  color: black;
  /* rest button default style */
  cursor: pointer;
  border: none;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  visibility: hidden;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s;
  transition: transform 0.3s 0s, visibility 0s 0.3s;
}
.cd-projects-container .scroll:focus {
  outline: none;
}

.cd-projects-container.project-open .scroll {
  visibility: visible;
  color: black;
  top:45em;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
  -webkit-animation: cd-translate 1.2s 0.8s;
  -moz-animation: cd-translate 1.2s 0.8s;
  animation: cd-translate 1.2s 0.8s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.no-touch .cd-projects-container.project-open .scroll:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -moz-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  -o-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}

@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}
@-moz-keyframes cd-translate {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }
  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}
@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    -o-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
/* -------------------------------- 

 Navigation

-------------------------------- */
.cd-primary-nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  /* vertically align its content */
  display: table;
}
.cd-primary-nav ul {
  /* vertically align inside nav */
  display: table-cell;
  vertical-align: middle;
}
.cd-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 4px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-touch .cd-primary-nav a:hover {
  background-color: #a8ae7e;
}
.cd-primary-nav .cd-label {
  position: relative;
  margin: 2.4em 0 2em;
  color: #a8ae7e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.cd-primary-nav .cd-label::after {
  /* line below .cd-label*/
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -16px;
  height: 1px;
  width: 40px;
  background-color: currentColor;
}
.cd-primary-nav.nav-visible {
  opacity: 1;
}
.cd-primary-nav.nav-clickable {
  z-index: 3;
}
.no-csstransitions .cd-primary-nav.nav-visible {
  z-index: 3;
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav a {
    font-size: 4rem;
  }
}

/* -------------------------------- 

JavaScript Disabled

-------------------------------- */
.no-js .cd-primary-nav {
  display: block;
  position: static;
  opacity: 1;
  margin-bottom: 1.5em;
}
.no-js .cd-primary-nav ul {
  display: block;
  padding: 0 5%;
}
.no-js .cd-primary-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-primary-nav li:not(.cd-label) {
  display: inline-block;
}
/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'bpicons';
  src:url('../fonts/bpicons/bpicons.eot');
  src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bpicons/bpicons.woff') format('woff'),
    url('../fonts/bpicons/bpicons.ttf') format('truetype'),
    url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
  font-weight: normal;
  font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.container > header {
  width: 90%;
  max-width: 69em;
  margin: 0 auto;
  padding: 2.875em 1.875em 1.875em;
}

.main {
  width: 80%;
  padding: 1em;
  margin: 0 auto;
}

.container > header h1 {
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0 0 0.6em 0;
  float: left;
  font-weight: 400;
}

.container > header > span {
  display: block;
  position: relative;
  z-index: 9999;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
  width: 30px;
  height: 30px;
  left: -12px;
  font-size: 50%;
  top: -8px;
  font-size: 75%;
  position: relative;
}

.container > header > span span:hover:before {
  content: attr(data-content);
  text-transform: none;
  text-indent: 0;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 110%;
  padding: 0.8em 1em;
  line-height: 1.2;
  text-align: left;
  left: auto;
  margin-left: 4px;
  position: absolute;
  color: #fff;
  background: #47a3da;
}

.container > header nav {
  float: right;
  text-align: center;
}

.container > header nav a {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 50%;
  margin: 0 0.1em;
  border: 4px solid #47a3da;
}

.container > header nav a > span {
  display: none;
}

.container > header nav a:hover:before {
  content: attr(data-info);
  color: #47a3da;
  position: absolute;
  width: 600%;
  top: 120%;
  text-align: right;
  right: 0;
  pointer-events: none;
}

.container > header nav a:hover {
  background: #47a3da;
}

.bp-icon:after {
  font-family: 'bpicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2;
  text-indent: 0;
}

.container > header nav a:hover:after {
  color: #fff;
}

.bp-icon-next:after {
  content: "\e000";
}
.bp-icon-drop:after {
  content: "\e001";
}
.bp-icon-archive:after {
  content: "\e002";
}
.bp-icon-about:after {
  content: "\e003";
}
.bp-icon-prev:after {
  content: "\e004";
}

@media screen and (max-width: 55em) {

  .container > header h1,
  .container > header nav {
    float: none;
  }

  .container > header > span,
  .container > header h1 {
    text-align: center;
  }

  .container > header nav {
    margin: 0 auto;
  }

  .container > header > span {
    text-indent: 30px;
  }
}
@font-face {
  font-family: 'anyoldicon';
  src:url('../fonts/anyoldicon/anyoldicon.eot');
  src:url('../fonts/anyoldicon/anyoldicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/anyoldicon/anyoldicon.woff') format('woff'),
    url('../fonts/anyoldicon/anyoldicon.ttf') format('truetype'),
    url('../fonts/anyoldicon/anyoldicon.svg#anyoldicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General grid styles */
.cbp-ig-grid {
  list-style: none;
  padding: 0 0 50px 0;
  margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
  content: " "; 
  display: table; 
}

.cbp-ig-grid:after { 
  clear: both; 
}

/* grid item */
.cbp-ig-grid li {
  width: 20%;
  float: left;
  height: 100%;
  text-align: center;
  border-top: 1px solid #ddd;
  /*border-bottom: 1px solid #ddd;*/
}

/* we are using a combination of borders and box shadows to control the grid lines */
/*.cbp-ig-grid li:nth-child(-n+3){
  border-top: none;
}

.cbp-ig-grid li:nth-child(3n-1),
.cbp-ig-grid li:nth-child(3n-2) {
  box-shadow: 1px 0 0 #ddd;
}
*/
.cbp-ig-grid li:last-child{
  position: relative;
    left: 40%;
}
.cbp-ig-grid li{
  border-top: none;
}



/*.cbp-ig-grid li {
  box-shadow: 1px 0 0 #ddd;
}
*/
/* anchor style */
.cbp-ig-grid li > a {
  display: block;
  height: 100%;
  color: #2e416a;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}

/* the icon with pseudo class for icon font */
.cbp-ig-icon {
  padding: 30px 0 0 0;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.cbp-ig-icon:before {
  /*font-family: 'anyoldicon';*/
  font-size: 6em;
  margin-bottom: .1em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.cbp-ig-icon-shoe:before {
  content: "\e000";
}

.cbp-ig-icon-ribbon:before {
  content: "\e001";
}

.cbp-ig-icon-milk:before {
  content: "\e002";
}

.cbp-ig-icon-whippy:before {
  content: "\e003";
}

.cbp-ig-icon-spectacles:before {
  content: "\e004";
}

.cbp-ig-icon-doumbek:before {
  content: "\e007";
}

/* title element */
.cbp-ig-grid .cbp-ig-title {
      font-family: knileregular;
  margin: 20px 0 10px 0;
  padding: 20px 0 0 0;
  font-size: 2em;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.cbp-ig-grid .cbp-ig-title:before {
  content: '';
  position: absolute;
  background: #2e416a;
  width: 160px;
  height: 6px;
  top: 0px;
  left: 50%;
  margin: -10px 0 0 -80px;
  -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
  font-family: "Alegreya Sans";
  /*text-transform: uppercase;*/
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transform: translateY(10px);
  -moz-transform: -moz-translateY(10px);
  -ms-transform: -ms-translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  -webkit-transition: transform 0.3s, opacity 0.2s;
}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hover styles */

.cbp-ig-grid li > a:hover {
  background: #2e416a;
}

.cbp-ig-grid li > a:hover .cbp-ig-icon {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.cbp-ig-grid li > a:hover .cbp-ig-icon:before,
.cbp-ig-grid li > a:hover .cbp-ig-title {
  color: #fff;
}

.cbp-ig-grid li > a:hover .cbp-ig-title {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.cbp-ig-grid li > a:hover .cbp-ig-title:before {
  background: #fff;
  margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
  .cbp-ig-grid li {
    width: 50%;
  }

  /* reset the grid lines */
  .cbp-ig-grid li:nth-child(-n+3){
    border-top: 1px solid #ddd;
  }

  .cbp-ig-grid li:nth-child(3n-1),
  .cbp-ig-grid li:nth-child(3n-2) {
    box-shadow: none;
  }

  .cbp-ig-grid li:nth-child(-n+2){
    border-top: none;
  }

  .cbp-ig-grid li:nth-child(2n-1) {
    box-shadow: 1px 0 0 #ddd;
  }
}

@media screen and (max-width: 41.6em) { 
  .cbp-ig-grid li {
    width: 100%;
  }

  .cbp-ig-grid li:nth-child(-n+2){
    border-top: 1px solid #ddd;
  }

  .cbp-ig-grid li:nth-child(2n-1) {
    box-shadow: none
  }

  .cbp-ig-grid li:first-child {
    border-top: none;
  }
}

@media screen and (max-width: 25em) { 
  .cbp-ig-grid {
    font-size: 80%;
  }

  .cbp-ig-grid .cbp-ig-category {
    margin-top: 20px;
  }
}

/*for main menu*/

/* -------------------------------- 

Vertical navigation

-------------------------------- */
.cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: auto;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  border-radius: 0.25em;
  background-color: rgba(234, 242, 227, 0.9);
}
.cd-vertical-nav a {
  display: block;
  padding: 1em;
  color: #3a2c41;
  font-weight: bold;
  border-bottom: 1px solid rgba(58, 44, 65, 0.1);
}
.cd-vertical-nav a.active {
  color: #c0a672;
}
.cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-overflow-scrolling: touch;
}
.cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(58, 44, 65, 0);
}
.cd-vertical-nav.open + .cd-nav-trigger span::before, .cd-vertical-nav.open + .cd-nav-trigger span::after {
  /* transform dots in 'X' icon */
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
@media only screen and (min-width: 800px) {
  .cd-vertical-nav {
    /* reset style */
    right: 0;
    top: 0;
    bottom: auto;
    height: 100vh;
    width: 90px;
    max-width: none;
    max-height: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: transparent;
    /* vertically align its content*/
    display: table;
    z-index: 999;
    font-family: "Alegreya Sans";
  }
  .cd-vertical-nav::before {
    /* this is the navigation background */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .no-touch .cd-vertical-nav:hover::before, .touch .cd-vertical-nav::before {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-vertical-nav ul {
    /* vertically align <ul> inside <nav>*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .cd-vertical-nav a {
    position: relative;
    padding: 2em 0 0;
    margin: 1.4em auto;
    border-bottom: none;
    font-size: 1.2rem;
    color: #eaf2e3;
  }
  .cd-vertical-nav a.active {
    color: #eaf2e3;
  }
  .cd-vertical-nav a::before, .cd-vertical-nav a::after {
    /* used to create the filled circle and the background icon */
    content: '';
    position: absolute;
    left: 50%;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .cd-vertical-nav a::before {
    /* filled circle */
    top: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #eaf2e3;
    -webkit-transform: translateX(-50%) scale(0.25);
    -moz-transform: translateX(-50%) scale(0.25);
    -ms-transform: translateX(-50%) scale(0.25);
    -o-transform: translateX(-50%) scale(0.25);
    transform: translateX(-50%) scale(0.25);
    -webkit-transition: -webkit-transform 0.4s, background-color 0.2s;
    -moz-transition: -moz-transform 0.4s, background-color 0.2s;
    transition: transform 0.4s, background-color 0.2s;
  }
  .cd-vertical-nav a::after {
    /* icon */
    opacity: 0;
    top: 0px;
    height: 32px;
    width: 32px;
    background: url(../img/s_spritesheet.png) no-repeat;
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    -webkit-transition: -webkit-transform 0.4s 0s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s 0s, opacity 0.1s 0.3s;
    transition: transform 0.4s 0s, opacity 0.1s 0.3s;
  }
  .cd-vertical-nav a.active::before, .no-touch .cd-vertical-nav a:hover::before {
    background-color: #c0a672;
  }
  .cd-vertical-nav li:first-of-type a::after {
    /* change icon using image sprites */
    background-position: 0px 0px;
    /* fix bug with transitions - set scale(0.01) rather than scale(0) */
    -webkit-transform: translateX(-50%) translateY(4.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(4.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(4.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(4.5em) scale(0.01);
    transform: translateX(-50%) translateY(4.5em) scale(0.01);
  }
  .cd-vertical-nav li:first-of-type a::before {
    -webkit-transform: translateX(-50%) translateY(4.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(4.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(4.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(4.5em) scale(0.25);
    transform: translateX(-50%) translateY(4.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(2) a::after {
    background-position: -32px -32px;
    -webkit-transform: translateX(-50%) translateY(1.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(1.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(1.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(1.5em) scale(0.01);
    transform: translateX(-50%) translateY(1.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(2) a::before {
    -webkit-transform: translateX(-50%) translateY(1.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(1.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(1.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(1.5em) scale(0.25);
    transform: translateX(-50%) translateY(1.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(3) a::after {
    background-position: -0px -32px;
    -webkit-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    transform: translateX(-50%) translateY(-1.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(3) a::before {
    -webkit-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    transform: translateX(-50%) translateY(-1.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(4) a::after {
    background-position: -32px 0px;
    -webkit-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    transform: translateX(-50%) translateY(-4.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(4) a::before {
    -webkit-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    transform: translateX(-50%) translateY(-4.5em) scale(0.25);
  }
  .cd-vertical-nav .label {
    display: block;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .no-touch .cd-vertical-nav:hover a::before, .no-touch .cd-vertical-nav:hover a::after, .touch .cd-vertical-nav li:nth-of-type(n) a::before, .touch .cd-vertical-nav li:nth-of-type(n) a::after {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    /* set a rotation to fix bug on Firefox - http://gielberkers.com/how-to-fix-shaking-css-transitions-in-firefox/ */
    -moz-transform: translateX(-50%) scale(1) rotate(0.02deg);
  }
  .no-touch .cd-vertical-nav:hover a::after, .touch .cd-vertical-nav a::after {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.4s, opacity 0s;
    -moz-transition: -moz-transform 0.4s, opacity 0s;
    transition: transform 0.4s, opacity 0s;
  }
  .no-touch .cd-vertical-nav:hover .label, .touch .cd-vertical-nav .label {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* -------------------------------- 

Content Sections - basic style

-------------------------------- */

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 44px;
  height: 44px;
  /*background: url(../img/cd-arrow-bottom.svg) no-repeat center center;*/
}

/* -------------------------------- 

no-js

-------------------------------- */
.no-js .cd-nav-trigger {
  display: none;
}

.no-js .cd-vertical-nav {
  position: static;
  height: auto;
  width: 100%;
  max-width: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-js .cd-vertical-nav::before {
  display: none;
}
.no-js .cd-vertical-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-vertical-nav li {
  display: inline-block;
  float: left;
}
.no-js .cd-vertical-nav a {
  padding: 0 1em;
  margin: 1.5em 1em;
  color: #eaf2e3;
}
.no-js .cd-vertical-nav a.active {
  color: #c0a672;
}
.no-js .cd-vertical-nav a::after, .no-js .cd-vertical-nav a::before {
  display: none;
}
.no-js .cd-vertical-nav .label {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}


.hire_me{
  height: 20em;
  width: 100%;
  background: #2e416a;
}
.social{
  background: white;
  width: 100%;
  padding: 1% 45%;
}
.hire_me button{
     position: relative;
    font-family: knileregular;
    padding: 1em;
    /*margin: 8% 40%;*/
    width: 20%;
    background: transparent;
    border: 2px solid #FEFEFE;
    font-size: 1.5em;
    color: #FEFEFE;
    transition: background, border,font-size,margin,padding,color,.4s;
}
.hire_me button a{
  transition: color,.4s;
}
.hire_me a{
      position: relative;
    top: 50%;
    left: 25%;
}
.hire_me button:hover, .hire_me button:focus {
    font-family: knileregular;
    background: #FEFEFE;
    border: 2px solid white;
    /*font-size: 1.7em;*/
    color: black;
        cursor: pointer;
    /*margin: 4.5em 40%;*/
    /*padding: .8em;*/
}
/*.hire_me button:hover a,.hire_me button:focus a {
  color: black;
}
*/
body{
  overflow-x: hidden;
}






/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.cd-projects-container.project-open .scroll{
  top:37em;
}
}
/*under media query write this */
.fade_effect{
  background: black;
  opacity: .6;
  width: 100%;
  height: 100%;
}
i.cbp-ig-icon.icon-database:before,i.cbp-ig-icon.icon-grunt:before,i.cbp-ig-icon.icon-cplusplus:before{
  margin-left: .3em;
}
i.cbp-ig-icon.icon-css:before,i.cbp-ig-icon.icon-python:before,i.cbp-ig-icon.icon-javascript:before{
  margin-left: .2em;
}
.section_title{
  font-family: knileregular;
  font-size: 2em;
  width: 100%;
  color: black;
  text-align: center;
  margin:  1em 0em;
  padding:  1em 0em;
  border-bottom: 1px solid #EFEFEF;
}
.github_logo{
  position: relative;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;

}
.homepage_logo{
  height: 2.5em;
  width: 2.5em;
  margin:0 .5em;
}
@media only screen and (min-width: 320px) {
    .cbp-ig-grid li:last-child{
    left: 0%;
  }
    .cbp-ig-grid li {
    border-top:1px solid #ddd ;
}
.cd-projects-previews {
  position: relative;
  z-index: 2;
  height: 115vh;
  width: 100vw;
}
.cd-projects-container{
  overflow-x: initial;
}
.cd-project-title p {
    font-size: 1.2rem;}
    .cd-project-title h2 {
    font-size: 2rem;}
    .hire_me button{
         position: relative;
         font-family: knileregular;
         font-size: 1em;
         width: 40%;
         left: 6%;
         }
    .hire_me a{
      position: relative;
      top: 50%;
      left: 25%;
}

}
@media only screen and (min-width: 768px) {
  .cd-project-title p {
    font-size: 1.5rem;}
    .cd-project-title h2 {
    font-size: 2.5rem;}
  .cd-intro-content h1 {
    font-size: 5.2rem;
    font-weight: 300;
  }
  .cd-intro-content p {
    font-size: 1.6rem;
    margin: 1.5em 0 1.9em;
  }

  .cbp-ig-grid li {
    border-top:1px solid #ddd ;
}
.hire_me a {
    position: relative;
    top: 40%;
    /* margin-left: 20%; */
}
}

@media only screen and (min-width: 1024px) {
    .cbp-ig-grid li {
    border-top:none ;
}
  .cbp-ig-grid li:last-child{
    left: 40%;
  }
  .cd-projects-previews {
  position: relative;
  z-index: 2;
   height: 100%; 
  width: 100vw;
}
.cd-projects-previews li{height: 100%;}
.hire_me button{
     position: relative;
     font-family: knileregular;
     /* padding: 1em; */
     /* margin: 10%; */
     width: 20%;
     background: transparent;
     border: 2px solid #FEFEFE;
     font-size: 1.5em;
     color: #FEFEFE;
     left: 15%;
  }

}